@model Pk2v_RSVPwapp.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agradecimientos</title>
</head>
<body>
    @{
        try{
            WebMail.SmtpServer = "smtp.gmail.com";
            WebMail.SmtpPort = 587;
            WebMail.EnableSsl = true;
            WebMail.UserName = "zulmatec@gmail.com";
            WebMail.Password = "63402717";
            WebMail.From = "zulmatec@gmail.com";

            WebMail.Send("zulmatec@gmail.com", "Notificación RSVP",
                Model.Name + ((Model.WillAttend ?? false) ? "" : "no") + "Atendera");
        }
        catch(Exception){
        @:<b>Error: No se pudo enviar el correo para confirmar</b>
        }
        
    }

    <div>
        <h1>¡Gracias, @Model.Name!</h1>
        @if (Model.WillAttend == true) 
        { 
            @:¡Que bueno que vendras, las chelas estaran listas en el refri!.
        }
        else
        {
            @:¡Siento mucho que no puedas venir! :(, Pero muchas gracias por informarlo.
        }
    </div>
</body>
</html>
